#head-container{
  border: 4px solid black;
  height: 100px;
}

#gameboard-columns{
  border: 2px solid black;
  height: 100%;
}

.column{
  border: 2px solid red;
}

#gameboard{
  border: 4px solid green;
  height: 400px;
}

@keyframes point-drop
{
    from {
        top: -2%;
    }
    to {
        top: 110%;
    }
}

$mobile: " (max-width: 770px)";
@media #{$mobile} {
  .desktop {
    display:none;
  }
}

#player-container{
  border: 2px solid orange;
  display: flex;
}

#point-grabber{
  border: 2px solid green;
  height: 50px;
  width: 300px;
  position: absolute;
  background-color: #099FFF;
}
